[Unit]
StandardOutput=/opt/soundboi/system.out
StandardError=/opt/soundboi/system_err.out
Description=SoundBoi Server
Wants=network.target
After=network-online.target

[Service]
User=isibley
Group=isibley
WorkingDirectory=/opt/soundboi/
ReadWriteDirectories=/opt/soundboi/
ExecStart=/opt/soundboi/run.sh

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys /srv /media -/lost+found

KillSignal=SIGINT
Restart=on-failure
RestartSec=20 5

[Install]
WantedBy=multi-user.target

